
.header{
  padding: 1.2rem 4rem;
  color: #282c34;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background-color: snow;
  border-radius: 10px;
  .header-title {
    span {
      font-size: 3rem;
      display: flex;
      align-items: center;
      font-family: "Pacifico", cursive;
    }
  }
  .header-menu {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
  }
  .sign-in-modal {
    padding: 24px;
    margin: auto;
    width: 360px!important;
    height: 432px;
    background-color: #fff;
    border-radius: 6px;
    z-index: 10;
  }
}