.Modal {
    padding: 24px;
    margin: auto;
    width: 360px!important;
    height: 432px;
    background-color: #fff;
    border-radius: 6px;
    z-index: 10;
}

.Modal h2 {
    margin-top: 0;
}

.Modal button {
    margin-top: 20px;
}